@model IEnumerable<CongNgheWeb_3_0.Models.tbl_Category>

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-list-ul"></i> Danh mục khóa học
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @foreach (var item in Model)
    {
    <a class="dropdown-item" href="#">@item.CategoryName @Html.Raw(item.Icon)</a>

    }

</div>