
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Position")">Các chức vụ</a></li>
    <li class="breadcrumb-item active"><a href="@Url.Action("Create","Position")">Tạo chức vụ</a></li>
</ol>
<!--grid-->
<div class="grid-form">
    <div class="grid-form1">
        <h2 id="forms-example" class="">Tạo chức vụ</h2>
        @using (Html.BeginForm("Create", "Position", FormMethod.Post))
        {
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên chức vụ</label>
                    <input type="text" class="form-control" name="PositionName" placeholder="Nhập chức vụ">
                </div>
                <button type="submit" class="btn btn-danger">Tạo chức vụ</button> @ViewBag.Status
            </form>
        }
    </div>
</div>
<!----->
